@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
// Colors
$main-color: #1E2429;
$submain-color: #ffffff;
// Fonts
$font: 'Roboto', sans-serif;
$base-font: 12px;
$base-weight: 300;
$base-line-height: 1.4;

@import "scss/typography";
@import "scss/navbar";